# Node & Backend
node_modules/
.env
dist/
coverage/

# Flutter & Dart
.dart_tool/
build/
.packages
.pub-cache/
.pub/

# OS Files
.DS_Store
Thumbs.db

backend/node_modules/
backend/dist/
backend/.env
*.env
flutter_app/build/
.vercel
